name: Run Tests

on:
  push:
    branches:
      - main
    paths:
      - services/**
      - .github/workflows/test.yaml
  workflow_dispatch:

jobs:
  # Job testing applications
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        service:
          [
            "services/node/api-node",
            "services/go/api-golang",
          ] 
    steps:
      # Checkout code
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        
      # Install language toolchain
      - name: Set up Node.js environment
        if: ${{ matrix.service == 'services/node/' }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"
      - name: Set up Go environment
        if: ${{ matrix.service == 'services/go/' }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.23"

      # Install task
      - name: Install task
        uses: supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217 # v5.0.0
        with:
          uri: "https://github.com/go-task/task/releases/download/v3.45.5/task_linux_amd64.tar.gz"
          name: task
          version: v3.45.5

      # Install app dependencies
      - name: Install app deps
        working-directory: ${{ matrix.service }}
        run: |
          task install-ci

      # Run tests
      - name: Run tests
        working-directory: ${{ matrix.service }}
        run: |
          task test
